<h1>Login</h1>

<%= form_tag "/pets/login", method: "POST", class: 'form' do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <% if flash[:errors] %>
    <ul>
        <li class="error"><%= flash[:errors] %></li>
    </ul>
  <% end %>

  <%= submit_tag "Log In" %>
<% end %>
