<h1><%= @break.break_time %></h1>
<p>Category: <%= @break.category %> </p>
<p>
  <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="<%= @break.animal_video %>"
  frameborder="0"></iframe>
</p>

<h4>My Notes</h4>
<ul>
  <%# show all the notes for this instance of a break! %>
  <% @break.notes.each do |note| %>
    <li>
      <%# make a link %>
      <%# when i click the link, it should: %>
      <%# take me to the show route for the note %>
      <a href="/notes/<%= note.id %>">
        <%= note.text %>
      </a>
    </li>
  <% end %>
</ul>


<form method="POST" action='<%= "/breaks/#{@break.id}" %>'>
  <input type="hidden" name="_method" value="DELETE">
  
  <input type="submit" value="Delete this break" />
</form>


<hr>

<a href="/breaks">
  Take me back to All the Breaks
</a>
